@page "/login"
@inject IAccountsRepository accountsRepo
@inject NavigationManager navManager
@inject ILoginService loginService

<EditForm Model="userInfo" OnValidSubmit="CreateUser">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Email: </label>
        <div>
            <InputText class="form-control" @bind-Value="@userInfo.Email" />
            <ValidationMessage For="@(() => userInfo.Email)" />
        </div>
    </div>


    <div class="form-group">
        <label>Password: </label>
        <div>
            <InputPassword class="form-control" @bind-Value="@userInfo.Password" />
            <ValidationMessage For="@(() => userInfo.Password)" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private UserInfo userInfo = new UserInfo();
    private async Task CreateUser()
    {
        var userToken = await accountsRepo.Login(userInfo);
        await loginService.Login(userToken);
        navManager.NavigateTo("");
    }
}
